<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 grids">
                <div class="col-lg-9" style="height: 100%;">
                    <div class="image_background">
                        <div class="images">
                            <img src="/assets/Group_22.png">
                            <h2>Few clicks away from creating your business</h2>
                            <p>Start your business in minutes. save time and money</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <p class="pragraph">Having troubles? <a href="#">Get Help</a></p>
                <div class="col-lg-11">
                    <div class="start_text">
                        <a class="back" [routerLink]="['']"><img src="/assets/Group_15.png"> </a>
                        <h1>Choose the type of business</h1>
                        <p>To get start tell us what type of Business you are going to incorporate and name</p>
                        <div class="form">
                            <form class="form" #myForm="ngForm">
                                <!-- Business Type -->
                                <div class="flexd">
                                    <label for="businessType">Business Type</label>
                                    <input type="text" placeholder="Business Type" id="businessType" name="businessType" [(ngModel)]="formData.businessType" required>

                                    <p class="error-message" *ngIf="myForm.submitted && myForm.controls['businessType']?.errors?.['required']">This field cannot be empty.</p>

                                </div>

                                <div class="flexd">
                                    <label>Business Type</label>
                                    <mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
                                        <div class="row">
                                            <div class="col-lg-3 col-6">
                                                <mat-button-toggle value="salon"><img src="/assets/Group_45.png"> Salon</mat-button-toggle>
                                            </div>
                                            <div class="col-lg-3 col-6">
                                                <mat-button-toggle value="gym"><img src="/assets/Group_46.png"> Gym</mat-button-toggle>
                                            </div>
                                            <div class="col-lg-3 col-6">
                                                <mat-button-toggle value="spa"><img src="/assets/Group_47.png"> Spa</mat-button-toggle>
                                            </div>
                                            <div class="col-lg-3 col-6">
                                                <mat-button-toggle value="clinic"><img src="/assets/Group_48.png"> Clinic</mat-button-toggle>
                                            </div>
                                        </div>
                                    </mat-button-toggle-group>
                                </div>


                                <!-- Governorate -->
                                <div class="flexd">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="governorate">Governorate</label>
                                            <select class="form-select" id="governorate" name="governorate" [(ngModel)]="formData.governorate" required>
                                        <option value="" disabled selected>Select Governorate</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    <!-- Add your options here -->
                                  </select>
                                            <p class="error-message" *ngIf="myForm.submitted && myForm.controls['governorate']?.errors?.['required']">Please select a governorate.</p>
                                        </div>

                                        <!-- District -->
                                        <div class="col-lg-6">
                                            <label for="district">District</label>
                                            <select class="form-select" id="district" name="district" [(ngModel)]="formData.district" required>
                                            <option value="" disabled selected>Select district</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                    <!-- Add your options here -->
                                  </select>
                                            <p class="error-message" *ngIf="myForm.submitted && myForm.controls['district']?.errors?.['required']">Please select a district.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- How did you know us? -->
                                <div class="flexd">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="howDidYouKnow">How did you know us?</label>
                                            <select class="form-select" id="howDidYouKnow" name="howDidYouKnow" [(ngModel)]="formData.howDidYouKnow" required>
                                    <option value="" disabled selected>Select one</option>
                                    <option selected>Select one</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <!-- Add your options here -->
                                  </select>
                                            <p class="error-message" *ngIf="myForm.submitted && myForm.controls['howDidYouKnow']?.errors?.['required']">Please select how you found us.</p>
                                        </div>

                                        <!-- Are you currently using system? -->
                                        <div class="col-lg-6">
                                            <label>Are you currently using system?</label>
                                            <div class="radio_button">
                                                <div class="row">
                                                    <div class="col-lg-9 col-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="usingSystem" id="usingSystem1" value="Yes" [(ngModel)]="formData.usingSystem" required>
                                                            <label class="form-check-label" for="usingSystem1">Yes</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="usingSystem" id="usingSystem2" value="No" [(ngModel)]="formData.usingSystem" required>
                                                            <label class="form-check-label" for="usingSystem2">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="error-message" *ngIf="myForm.submitted && myForm.controls['usingSystem']?.errors?.['required']">Please select an option.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <div class="col-lg-12">
                                    <div class="submit_button">
                                        <button class="send" (click)="createAccount()">CREATE ACCOUNT <i class="fa fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
                <p></p>
            </div>

        </div>
    </div>
</section>